{% extends 'index/base.html' %}
{% load static %}

{% block content %}
	<div class="main-content-wrapper">
		<div class="page-content-inner pt--250 pb--290">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="user-dashboard-tab flex-column flex-md-row">
							<div class="user-dashboard-tab__head nav flex-md-column" role="tablist"
							     aria-orientation="vertical">
								<a class="nav-link" href="{% url 'profile' user.id %}">Профиль</a>
								<a class="nav-link" href="{% url 'change-password' %}">Изменить пароль</a>
								<a class="nav-link" href="{% url 'orders' %}">Заказы</a>
								<a class="nav-link" href="{% url 'logout' %}">Выйти</a>
							</div>
							<div class="user-dashboard-tab__content tab-content">
								{% block profile %}
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}