{% extends 'index/base.html' %}
{% load static %}

{% block content %}
	<div class="main-content-wrapper">
		<div class="page-content-inner pt--200 pb--100">
			<div class="container">
				<div class="row" style="place-content: center">
					<div class="col-md-6">
						<div class="register-box">
							<h4 class="heading__tertiary mb--30">Регистрация</h4>
							{% for field, errors in form.errors.items %}
								{% for error in errors %}
									<strong style="color: red">{{ error }}</strong><br><br>
								{% endfor %}
							{% endfor %}
							<form method="post" action="{% url 'register' %}">
								{% csrf_token %}
								<div class="form__group mb--20">
									<label class="form__label" for="{{ form.username.id_for_label }}">Имя
										пользователя</label>
									{{ form.username }}
								</div>
								<div class="form__group mb--20">
									<label class="form__label" for="{{ form.email.id_for_label }}">Почта</label>
									{{ form.email }}                                </div>
								<div class="form__group mb--20">
									<label class="form__label" for="{{ form.password1.id_for_label }}">Пароль</label>
									{{ form.password1 }}
								</div>
								<div class="form__group mb--20">
									<label class="form__label" for="{{ form.password2.id_for_label }}">Повтор
										пароля</label>
									{{ form.password2 }}
								</div>
								<div class="d-flex align-items-center mb--20">
									<div class="form__group mr--30">
										<input type="submit" value="Зарегистрироваться" class="btn btn-size-sm">
									</div>
									<div class="form__group mr--30">
										<a class="forgot-pass" href="{% url 'login' %}">Есть аккаунт?</a>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}